
#footer{
		position: absolute;
		display: block;
		overflow: auto;
        bottom: 0;
        width: 100%
       }

.content{
	margin-top: 120px;
}

#circle {
	background: #AFC2DC;
	border-radius:50%;
	color: black;
	display:table;
	height: 19px;
	min-width: 19px;
	font-size: 15px;
	width: auto;
	margin:0 auto;
	margin-top: 2px;
	margin-bottom: 1px;
	color: #1E53A3;
}
#circle span {
	display:table-cell;
	vertical-align:middle;
	height:20px;
	width:20px;
	text-align:center;
}

#volumes{
	margin-top: 42px;
}

#itemWrapper:{

	 box-shadow: 0 0 5px #F3F9FF inset;

}




