#twocolumns{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
	text-align: center;}

#volumes{
	margin-top: 83px;
}

#footer{
		position: absolute;
		display: block;
		overflow: auto;
        bottom: 0;
        width: 100%
       }

.content{
	margin-top: 100px;
}


