.content{
	margin-top: 120px;
}

.center-block { display: block;
  margin-left: auto;
  margin-right: auto;}

#circle {
	background: #72727A;
	border-radius:50%;
	display:table;
	height: 40px;
	min-width: 40px;
	font-size: 30px;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 2px;
	color:#000000;
	float: left;
	margin-left: 10px;
}

#circle span {
	display:table-cell;
	vertical-align:middle;
	height:20px;
	width:20px;
	text-align:center;
	font-weight:700;
	line-height:1.3;
}

#volumes{
	margin-top: 40px;
}

#itemWrapper{
	 border: 1px solid #a3a3a3;
	 box-shadow: 3px 3px 3px #b7b7b7;
}

#logo{
	padding-right: 20px;
}

h3 label{
	color: #727272;
}

h2 label{
	color: #727272;
}

h3{
	display: inline;
}

#itemPic{
	height: 100%;
	width:100%;
	object-fit: contain;
}

#itemDataHolder{
	height: 135px;
	padding-top: 10px;
}

#EAN{
	margin-left: 10px;
	margin-top: 20px;
} 

.checkbox-inline{
	color: #275BA3;
}

#itemsHolder{
	/*min-width: 755px !important;*/
}
#QRCodeHolder{
	min-height: 135px;
}




