<html ng-app="firstPage" ng-controller="displayModels">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SKU Leaderboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap_ext.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>

   
<!-- ************************ First Page ************************ -->

<div class="container-fluid">

	<header>

        <div class="row">
                
            <div class="col-sm-12 col-md-12 col-lg-12">
                
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        
                    <div class="navbar-header">
                     
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        
                    </div>
                
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Brand<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li >
                                        <a href="" ng-click="back('brand')"> Brand </a>
                                    </li>
                                    <li ng-repeat="brandName in allData.brand">
                                        <a ng-click="filterModels('brand', brandName)">{{brandName}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gender<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li >
                                        <a href="" ng-click="back('gender')"> Gender </a>
                                    </li>
                                    <li ng-repeat="genderType in allData.gender">
                                        <a ng-click="filterModels('gender', genderType)">{{genderType}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">GV_Core<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li >
                                        <a href="" ng-click="back('gv_core_range')"> GV_Core </a>
                                    </li>
                                    <li ng-repeat="gvCore in allData.gv_core_range">
                                        <a ng-click="filterModels('gv_core_range', gvCore)">{{gvCore}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Material<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li >
                                        <a href="" ng-click="back('material')"> Material </a>
                                    </li>
                                    <li ng-repeat="materialType in allData.material">
                                        <a ng-click="filterModels('material', materialType)">{{materialType}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <label class="checkbox-inline" for="EAN">EAN</label><input type="checkbox" value="" name="EAN" id="EAN" />
                            </li>
                        </ul>
           
                            <img src="img/logo_grandvision.png" class="pull-right" id="logo" />
                          
                        </ul>
                
                    </div>     
                        <hr>
                </nav>
        
            </div>
    
        </div>

    </header>

        <div class="row content">

            <div class="col-xxxl-2 col-xxl-2 col-xl-1">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xxxl-8 col-xxl-8 col-xl-10">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="itemsHolder">

                <div ng-repeat="x in mainData" ng-if="$even" id="itemWrapper">

                    <div class="row">

                        <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2">

                            <h2 id="circle"><span> {{$index + 1}} </span></h2>

                        </div>

                        <div class="col-xs-6 col-lg-5 col-md-5 col-sm-5">

                            <h2 class="text-center"> {{x.brand_name}} </h2>

                        </div>

                        <div class="col-xs-4 col-lg-5 col-md-5 col-sm-5">

                            <h2 class="text-center"> {{x.gender}} </h2>

                        </div>

                    </div>

                    
                    <div class="row hidden-xs">

                        <div class="col-lg-4 col-md-4 col-sm-4 text-center" id="itemDataHolder">
                            <img ng-src= "{{x.img}}" class="img-thumbnail img-responsive" id="itemPic" />
                        </div>

                       
                        <div class="col-lg-4 col-md-4 col-sm-4" id="itemDataHolder">

                           <h3> <label>Model:</label> {{x.model}} </h3><br>
                           <h3> <label>Lifecycle:</label> {{x.carry_over}} </h3><br>
                           <h3> <label>Size:</label> {{x.size}} </h3><br>
                           <h3> <label>ICo Price:</label> {{x.inter_co_price_eu}}   <span class="pull-right">{{x.inter_co_price_latam}}</span></h3>
                           
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4" id="itemDataHolder">
                             
                           <h3 ng-show="x.gv_core_range!='NO'"> <label>GV Core Range: </label>  &nbsp; <h3 ng-if="x.gv_core_range=='GLOBAL'" style="color:red;font-weight: bold;"> {{x.gv_core_range}}<br></h3><h3 ng-if="x.gv_core_range=='REGIONAL'" style="font-weight: bold;"> {{x.gv_core_range}}<br></h3> </h3>
                           <h3> <label>Material group:</label> {{x.material_group}} </h3><br>
                           <h3> <label>Sub Brand:</label> {{x.sub_brand}} </h3>
                           <!--<h3> <label>InterCo Price USD:</label> {{x.inter_co_price_latam}} </h3>-->

                        </div>            

                    </div>

                    <!-- ********** VISIBLE ONLY FOR XS SCREEN SIZES ********** -->

                     <div class="row visible-xs">

                        <div class="col-xs-2">
                        </div>

                        <div class="col-xs-8" id="itemDataHolder">
                            <img ng-src= "{{x.img}}" class="img-thumbnail img-responsive" id="itemPic" />
                        </div>

                        <div class="col-xs-2">
                        </div>     

                    </div>

                    <div class="row visible-xs">

                        <div class="col-xs-12 text-center" id="itemDataHolder">

                           <h3> <label>Model:</label> {{x.model}} </h3><br>
                           <h3> <label>Lifecycle:</label> {{x.carry_over}} </h3><br>
                           <h3> <label>Size:</label> {{x.size}} </h3><br>
                           <h3> <label>ICo Price:</label> {{x.inter_co_price_eu}}  &nbsp;&nbsp; <span>   {{x.inter_co_price_latam}}</span></h3><br>
                           <h3 ng-show="x.gv_core_range!='NO'"> <label>GV Core Range: </label>  &nbsp; <h3 ng-if="x.gv_core_range=='GLOBAL'" style="color:red;font-weight: bold;"> {{x.gv_core_range}}<br></h3><h3 ng-if="x.gv_core_range=='REGIONAL'" style="font-weight: bold;"> {{x.gv_core_range}}<br></h3> </h3>
                           <h3> <label>Material group:</label> {{x.material_group}} </h3><br>
                           <h3> <label>Sub Brand:</label> {{x.sub_brand}} </h3>
                           
                        </div>

                    </div>

                    <div class="row visible-xs">

                        <div class="col-xs-12 text-center" id="volumes">

                            <h2> <label>QTY Model:</label> {{x.total_orders}} </h2>

                        </div>


                        <div class="col-xs-12 text-center" id="volumes">

                            <h2 class="center"> {{x.moq_model}} </h2>

                        </div>

                        <div class="col-xs-12 text-center">

                            <img src="img/qrcode.jpg" width="100px" class="img-responsive center-block"  />
                            <h3> <label>Article EAN:</label> {{x.ean}} </h3>

                        </div>

                    </div>

                    <!-- ********** END OF XS OPTIMIZATION ********** -->

                    <div class="row hidden-xs">

                        <div class="col-lg-4 col-md-4 col-sm-4 text-center" id="volumes">

                            <h2 class="center"> <label>QTY Model:</label> {{x.total_orders}} </h2>

                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-4 text-center" id="volumes">

                            <h2 class="center"> {{x.moq_model}} </h2>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 text-center">

                            <img src="img/qrcode.jpg" width="100px" class="img-responsive center-block"  />
                            <h3> <label>Article EAN:</label> {{x.ean}} </h3>

                        </div>

                    </div>

                </div>

            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="itemsHolder">

                <div ng-repeat="x in mainData" ng-if="$odd" id="itemWrapper">

                    <div class="row">

                        <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2">

                            <h2 id="circle"><span> {{$index + 1}} </span></h2>

                        </div>

                        <div class="col-xs-6 col-lg-5 col-md-5 col-sm-5">

                            <h2 class="text-center"> {{x.brand_name}} </h2>

                        </div>

                        <div class="col-xs-4 col-lg-5 col-md-5 col-sm-5">

                            <h2 class="text-center"> {{x.gender}} </h2>

                        </div>

                    </div>

                    
                    <div class="row hidden-xs">

                        <div class="col-lg-4 col-md-4 col-sm-4 text-center" id="itemDataHolder">
                            <img ng-src= "{{x.img}}" class="img-thumbnail img-responsive" id="itemPic" />
                        </div>

                       
                        <div class="col-lg-4 col-md-4 col-sm-4" id="itemDataHolder">

                           <h3> <label>Model:</label> {{x.model}} </h3><br>
                           <h3> <label>Lifecycle:</label> {{x.carry_over}} </h3><br>
                           <h3> <label>Size:</label> {{x.size}} </h3><br>
                           <h3> <label>ICo Price:</label> {{x.inter_co_price_eu}}   <span class="pull-right">{{x.inter_co_price_latam}}</span></h3>
                           
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4" id="itemDataHolder">
                             
                           <h3 ng-show="x.gv_core_range!='NO'"> <label>GV Core Range: </label>  &nbsp; <h3 ng-if="x.gv_core_range=='GLOBAL'" style="color:red;font-weight: bold;"> {{x.gv_core_range}}<br></h3><h3 ng-if="x.gv_core_range=='REGIONAL'" style="font-weight: bold;"> {{x.gv_core_range}}<br></h3> </h3>
                           <h3> <label>Material group:</label> {{x.material_group}} </h3><br>
                           <h3> <label>Sub Brand:</label> {{x.sub_brand}} </h3>
                           <!--<h3> <label>InterCo Price USD:</label> {{x.inter_co_price_latam}} </h3>-->

                        </div>            

                    </div>

                    <!-- ********** VISIBLE ONLY FOR XS SCREEN SIZES ********** -->

                     <div class="row visible-xs">

                        <div class="col-xs-2">
                        </div>

                        <div class="col-xs-8" id="itemDataHolder">
                            <img ng-src= "{{x.img}}" class="img-thumbnail img-responsive" id="itemPic" />
                        </div>

                        <div class="col-xs-2">
                        </div>     

                    </div>

                    <div class="row visible-xs">

                        <div class="col-xs-12 text-center" id="itemDataHolder">

                           <h3> <label>Model:</label> {{x.model}} </h3><br>
                           <h3> <label>Lifecycle:</label> {{x.carry_over}} </h3><br>
                           <h3> <label>Size:</label> {{x.size}} </h3><br>
                           <h3> <label>ICo Price:</label> {{x.inter_co_price_eu}}  &nbsp;&nbsp; <span>   {{x.inter_co_price_latam}}</span></h3><br>
                           <h3 ng-show="x.gv_core_range!='NO'"> <label>GV Core Range: </label>  &nbsp; <h3 ng-if="x.gv_core_range=='GLOBAL'" style="color:red;font-weight: bold;"> {{x.gv_core_range}}<br></h3><h3 ng-if="x.gv_core_range=='REGIONAL'" style="font-weight: bold;"> {{x.gv_core_range}}<br></h3> </h3>
                           <h3> <label>Material group:</label> {{x.material_group}} </h3><br>
                           <h3> <label>Sub Brand:</label> {{x.sub_brand}} </h3>
                           
                        </div>

                    </div>

                    <div class="row visible-xs">

                        <div class="col-xs-12 text-center" id="volumes">

                            <h2> <label>QTY Model:</label> {{x.total_orders}} </h2>

                        </div>


                        <div class="col-xs-12 text-center" id="volumes">

                            <h2 class="center"> {{x.moq_model}} </h2>

                        </div>

                        <div class="col-xs-12 text-center">

                            <img src="img/qrcode.jpg" width="100px" class="img-responsive center-block"  />
                            <h3> <label>Article EAN:</label> {{x.ean}} </h3>

                        </div>

                    </div>

                    <!-- ********** END OF XS OPTIMIZATION ********** -->

                    <div class="row hidden-xs">

                        <div class="col-lg-4 col-md-4 col-sm-4 text-center" id="volumes">

                            <h2 class="center"> <label>QTY Model:</label> {{x.total_orders}} </h2>

                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-4 text-center" id="volumes">

                            <h2 class="center"> {{x.moq_model}} </h2>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 text-center">

                            <img src="img/qrcode.jpg" width="100px" class="img-responsive center-block"  />
                            <h3> <label>Article EAN:</label> {{x.ean}} </h3>

                        </div>

                    </div>

                </div>

            </div>
        </div>

            <div class="col-xxxl-2 col-xxl-2 col-xl-1">
            </div>
    
        </div>

</div>

    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
</body>


</html>