<html ng-app="firstPage" ng-controller="displayModels">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SKU Leaderboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap_ext.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>

   
<!-- ************************ SKU Leader Board ************************ -->

<div class="container-fluid">

    <header>

        <div class="row" ng-view>
                
            <div class="col-sm-12 col-md-12 col-lg-12">
                
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        
                    <div class="navbar-header">
                     
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        
                    </div>
                
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navHeadings.brand}}<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li >
                                        <a href="" ng-click="back('brand'); navHeadings.brand='Brand' "> Brand </a>
                                    </li>
                                    <li ng-show="allData.brand.length > 1" ng-repeat="brandName in allData.brand">
                                        <a ng-click="filterModels('brand', brandName); navHeadings.brand=brandName">{{brandName}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navHeadings.gender}} <strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li >
                                        <a href="" ng-click="back('gender'); navHeadings.gender = 'Gender' "> Gender </a>
                                    </li>
                                    <li ng-show="allData.gender.length > 1" ng-repeat="genderType in allData.gender">
                                        <a ng-click="filterModels('gender', genderType); navHeadings.gender = genderType" >{{genderType}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navHeadings.gv_core}}<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li >
                                        <a href="" ng-click="back('gv_core_range'); navHeadings.gv_core='GV_Core'"> GV_Core </a>
                                    </li>
                                    <li ng-show="allData.gv_core_range.length > 1" ng-repeat="gvCore in allData.gv_core_range">
                                        <a ng-click="filterModels('gv_core_range', gvCore); navHeadings.gv_core = gvCore">{{gvCore}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{navHeadings.material}}<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li >
                                        <a href="" ng-click="back('material'); navHeadings.material='Material'"> Material </a>
                                    </li>
                                    <li ng-show="allData.material.length > 1" ng-repeat="materialType in allData.material">
                                        <a ng-click="filterModels('material', materialType); navHeadings.material=materialType">{{materialType}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs">
                            <li ng-class="{active: EANCheckbox===false}"><a ng-click="EANCheckboxfunction(false)">Model</a></li>
                            <li ng-class="{active: EANCheckbox===true}"><a ng-click="EANCheckboxfunction(true)">EAN</a></li>
                            <img src="img/logo_grandvision.png" class="pull-right" id="logo" />
                        </ul>
                   
                        </ul>
                
                    </div>     
                </nav>
        
            </div>
    
        </div>

    </header>

        <div class="row content">

            <div class="col-xxxl-2 col-xxl-2 col-xl-1">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xxxl-8 col-xxl-8 col-xl-10">

            <!--********** Vissible for XS, SM, and MD screen sizes **********-->   

                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg hidden-xxxl hidden-xxl hidden-xl" ng-repeat="x in mainData | limitTo:20" id="itemWrapper">

                    <small-screens></small-screens>

                </div>

                <div class="hidden-xs hidden-sm col-md-12 hidden-lg hidden-xxxl hidden-xxl hidden-xl MdLgItemWrapper" ng-repeat="x in mainData | limitTo:20" id="itemWrapper">

                    <small-screens></small-screens>

                </div>

             <!--********** End of small screens optimization **********-->

            <div class="hidden-xs hidden-sm hidden-md col-lg-6 col-xl-6" id="itemsHolder" ng-view>

                <div ng-repeat="x in mainData | limitTo:20" ng-if="$even" id="itemWrapper" class="bigScreen MdLgItemWrapper">

                    <item-data></item-data>

                </div>

            </div>


            <div class="hidden-xs hidden-sm hidden-md col-lg-6 col-xl-6" id="itemsHolder" ng-view>

                <div ng-repeat="x in mainData | limitTo:20" ng-if="$odd" id="itemWrapper" class="bigScreen MdLgItemWrapper">

                    <item-data></item-data>

                </div>

            </div>
            
        </div>

            <div class="col-xxxl-2 col-xxl-2 col-xl-1">
            </div>
    
        </div>

</div>

    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
</body>


</html>